@charset "utf-8";
body {
    font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
    color: #666;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    
}

html,body{
scrollbar-arrow-color:#ff0200;
scrollbar-face-color:#00fff3;
scrollbar-3dlight-color:#00fff3;
scrollbar-darkshadow-color:#00fff3;
scrollbar-highlight-color:#00fff3;
scrollbar-shadow-color:#00fff3;
scrollbar-track-color:#ffffff;
}

#header {
	padding-top:20px;
    padding-left:10px;
    color: #f0f;
    clear: both;
    background-color: #F1F;
}

#footer {
    color: #555;
    clear: both;
    background-color: #F1F;
}

#left_menu {
    padding-right:20px;
    font-size: 20px;
    background-color: #1FF;
    width:150px;
    float:left;
     height:200px;
    
    
}

ul #nav {
  font-size: 100%;
  font-weight: bold;
  list-style: none;
  position:fixed;
  top:20px;
  right:-150px;
  margin:0;
}
#nav li {
  margin-bottom: 0.8em;
}
#nav li a {
  text-decoration: none;
  color: #333333;
  display:block;
  background-repeat:no-repeat;
  height:64px;
  padding-left:70px;
  line-height:64px;  
}
#nav li a:hover {
  color: #FF9900;
}
#nav .twitter{
  background-image:url(twitter.png);
}
#nav .facebook{
  background-image:url(facebook.png);
}
#nav .youtube{
  background-image:url(youtube.png);
}
#nav .rss{
  background-image:url(rss.png);
}

#box {
    background-color: #FF1;
    float:left;
    width:auto;
    height:200px;

-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
    
}

#favorite {
    background-color: #F6F;
    clear: both;
}

#subbtn {

}

#button {

}

#txtbox {
-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
}














#nav9 {
	margin-left: 20px;
	font-size: 100%;
	font-weight: bold;
	list-style: none;
}
#nav9 li {
	margin-bottom: 0.8em;
}
#nav9 li a {
	text-decoration: none;
	color: #333333;
}
#nav9 li a:hover {
	color: #FF9900;
}


ul #nav1 {
  font-size: 100%;
  font-weight: bold;
  list-style: none;
  position:fixed;
  top:20px;
  right:-150px;
  margin:0;
}
#nav1 li {
  margin-bottom: 0.8em;
}
#nav1 li a {
  text-decoration: none;
  color: #333333;
  display:block;
  background-repeat:no-repeat;
  height:64px;
  padding-left:70px;
  line-height:64px;  
}
#nav1 li a:hover {
  color: #FF9900;
}
#nav1 .twitter{
  background-color:aqua;
}
#nav1 .facebook{
  background-color:gold;
}
#nav1 .youtube{
  background-color:red;
}
#nav1 .rss{
  background-image:url(rss.png);
}













