/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/07/01, 10:50:03
    Author     : student
*/
body{
    margin: 0;
    padding: 0;
}
#user_form h3{
    padding-left: 40px;
}
#user_form h4{
    margin-bottom: 1px;
}
#user_form{
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',
    Meiryo, sans-serif;
    font-size: 15px;
    border: 1px solid orange;
    border-radius: 8px;
    padding: 20px;
    margin-right: 500px;
    position: relative;
    top: 10px;
    left: 50px;
    bottom: 10px;
}
#user_form form{
    padding-left: 50px;
}
#user_form input {
     margin-top: 0;
}
.exampleText{
    font-size: 13px;
    color: gray;
    margin-top: -5px;
    margin-bottom: 2px;
}
