
#header {
	height: 150px;
	padding-top:5px;
    padding-left:10px;
    padding-right:5px;
    color:black;
    width: 100%;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

#logo {
    float:left;
    outline: none;
}

#header p {
    text-align:right;
    font-size:16px;
	padding-right:15px;
    padding-top:10px;
}

#header #box {
    float:left;
    margin-left:200px;
    margin-right:40px;
    margin-top:60px;
}

#header #tab a {
  position: relative;
	transition-property: border;
	transition-duration: 1s;
	transition-delay: 0s;
	font-size:20px;
	float:left;
    color:black;
    margin-top:50px;
    margin-right:10px;
    padding-top:5px;
    padding-bottom:5px;
	padding-right:20px;
    padding-left:20px;
    background-color:cyan;
    text-decoration:none;
	border-style:solid;
    border-width:3px;
    border-color:#ffffff;
}

#header #tab a:hover {
    transition-property: border;
    transition-duration: 1s;
    transition-delay: 0s;
    color:black;
    border-color:#ff8c00;
    border-style:solid;
    border-width:3px;
    border-color:cyan;
    background-color:white;
}